name: Export issues to markdown
on:
  push: # comment it to reduce update.
  # schedule:
    # every day at 10am 
    # - cron:  '00 10 * * *'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
      with:
        persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal token
        fetch-depth: 0 # otherwise, you will failed to push refs to dest repo
    - name: Backup github issues to a markdown file.
      run: |
        pip3 install --user --upgrade setuptools
        pip3 install --user gh2md
        $HOME/.local/bin/gh2md $GITHUB_REPOSITORY issues.md --token ${{ secrets.GITHUB_TOKEN }}
    - name: Archive production artifacts
      uses: actions/upload-artifact@v2
      with:
        name: issues
        path: "issues.md"
