name: Makefile CI

on:
  push:
    tags:        
      - v*.**
      
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Installation 
      run: sudo apt-get update -y
      
    - name: Install texlive-latex-base texlive-latex-extra texlive-luatex texlive-science-doc texlive-science
      run: sudo apt-get install -y texlive-latex-base texlive-latex-extra texlive-luatex texlive-science-doc texlive-science
      
    - name: Install pandoc
      run: wget --quiet https://github.com/jgm/pandoc/releases/download/2.18/pandoc-2.18-1-amd64.deb; sudo dpkg -i pandoc-2.18-1-amd64.deb

    - name: Check pandoc version
      run: pandoc -v

    - name: Build PDF
      run: make pdf
      
    - uses: actions/upload-artifact@v3
      with:
        name: article.pdf
        path: build/article.pdf
    
    
      
