name: Makefile CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Install pandoc
      run: sudo apt-get install -y pandoc

    - name: Check pandoc version
      run: pandoc -v

    - name: Build PDF
      run: make pdf
      
