name: Makefile CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Install pandoc
      run: wget --quiet https://github.com/jgm/pandoc/releases/download/2.18/pandoc-2.18-1-amd64.deb; sudo dpkg -i pandoc-2.18-1-amd64.deb

    - name: Check pandoc version
      run: pandoc -v

    - name: Build PDF
      run: make pdf
      
